@-moz-document domain("pajlada.se"), domain("forsen.tv"), domain("pajbot.com") {
body {
    background: #101010;
    color: #909090;
}
.ui.top.fixed.menu {
    background: #1B1C1D;
}
.ui.menu .item {
    color: #909090!important;
}
.ui.menu.item:hover {
    background: #ccc!important;
    color: #000!important;
}
.ui.action.input {
    background: #3E3E3E!important;
    padding-left: 10px !important;
}
input,
i.black.icon {
    color: #a0a0a0!important;
}
.ui.action.input:not([class*="left action"])>.button:last-child,
.ui.action.input:not([class*="left action"])>.buttons:last-child>.button,
.ui.action.input:not([class*="left action"])>.dropdown:last-child {
    border-radius: 0;
}
::-webkit-input-placeholder {
    color: #767676!important;
}
.ui.button {
    background: linear-gradient(transparent, transparent) #1B1C1D;
    box-shadow: none;
    color: #909090!important;
}
.ui.table {
    color: #646464;
}
.ui.items>.item .meta {
    color: inherit;
}
.ui.table thead th,
.ui.items>.item>.content>.description,
.ui.list>.item .description {
    color: #676767;
}
.ui.tabular.menu .active.item,
.ui.segment,
.ui.attached.segment {
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}
.ui.very.basic.table,
.ui.list>.item .header {
    color: #909090!important;
}
.ui.tabular.menu {
    border-bottom: none;
}
.ui.menu a.item:hover,
.ui.menu .active.item,
.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
    background: #444;
}
.picker {
    color: inherit;
}
.picker__nav--next:before {
    border-left: 0.75em solid #999999;
}
.picker__nav--prev:before {
    border-right: 0.75em solid #999999;
}
.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
    background: transparent;
}
}
